%div.container
  %div.row-fluid
    %div.span8
    %div.span8
    %div.span8
    %div.span8
      %p.overlay first and foremost, i consider myself a maker, but the things i make are not carved out of stone, nor wood, they are carved out of the ether and provide the same meaningful and usable experiences as those physical objects.  i enjoy refining things over time so that they become functionally simple, easy to comprehehnd, yet powerful.
      %p.overlay as a maker, i also enjoy fast things whether it be fast cars or things that scale.
      %p.overlay and my style has always been that of generalist, i pride myself on understanding things from a broad perspective, i enjoy working on the full stack.
      %p.overlay our daily lives involve so many objects and interactions with those objects that the role of maker becomes that of champion for the quality of life and evolution of mankind.

