.navbar.navbar-fixed-bottom
  .navbar-inner
    %a.brand{:href => "#"}
      %img{:src => url("images/glyphicons_019_cogwheel.png")}
      stephenhu
      %sup alpha
    %ul.nav
      %li.active
        %a{:href => "index.html"} home
      %li
        %a{:href => "blog.html"} blog
      %li
        %a{:href => "portfolio.html"} portfolio
      %li
        %a{:href => "contact.html"} contact
      %li
        %a{:href => "about.html"} about
    %p.pull-right copyright &copy; stephenhu 2013. all rights reserved.

